<nav class="navbar navbar-expand-lg mb-4 mt-4" style="display: flex;justify-content: space-between;align-content: center;">
  <a class="navbar-brand" href="https://customers.kameleoon.com/bpce/crm/">
    <img src="https://www.kameleoon.com/themes/custom/kameleoon/logo.svg" />
  </a>
  <div class="flex-column text-align-right" style="display: flex;align-content: flex-end;align-items: flex-end;">
    <p>SDK Node.js - Sandbox</p>
    <button class="kam-button" id="logger-button">Show logs</button>
  </div>
</nav>